body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: rgb(85, 194, 234);
    color: rgb(205, 31, 69);
    font-size: 20px;
    padding: 10px;
}

main {
    margin: 50px;
}

footer {
    background-color: rgb(85, 194, 234);
    color: rgb(205, 31, 69);
    font-size: 20px;
    padding: 10px;
    text-align: right;
}

div.menu {
    background-color: white;
    border: 7px solid #00880080;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover {
    color: rgb(17, 10, 2);
    background-color: #fbddb3c7;
    box-shadow: 0 0 15px black;
}

a {
    text-decoration: none;
    transition: 1s 2s;
}

a:link {
    color: blue
}

a:visited {
    color: blueviolet;
}

a:hover {
    color: rgb(106, 6, 6);
    text-decoration: underline;
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3;
}